$background-color_light: white;
$background-color_dark: #131415;
$text-color_light: black;
$text-color_dark: white;

$weather-item-height_default: 300px;
$weather-item-height_medium: 200px;
$weather-item-height_small: 160px;

$weather-item-width_default: 210px;
$weather-item-width_medium: 140px;
$weather-item-width_small: 120px;

$font-size_default: 18px;
$font-size_medium: 12px;
$font-size_small: 10px;

$search-width_default: 300px;
$search-width_medium: 150px;

$search-font-size_default: 18px;
$search-font-size_medium: 15px;

$search-height_default: 40px;
