body {
  color: white;
  background-color: black;
}

.header-wrapper__theme-changer {
  border: 1px white solid;
  box-shadow: 5px 5px white;
}
.header-wrapper__theme-changer:active {
  transition: all 0.1s;
  transform: translate(5px, 5px);
  box-shadow: none;
}