body {
  transition: background-color 0.5s ease;
  color: white;
  background-color: #131415;
}

.header-wrapper__theme-changer, .wrapper__navItem {
  border: 1px white solid;
  box-shadow: 5px 5px white;
  color: white;
}
.header-wrapper__theme-changer:active, .wrapper__navItem:active {
  transition: all 0.1s;
  transform: translate(5px, 5px);
  box-shadow: none;
}

.navItem__link, .logo__link {
  color: white;
}
.navItem__link:visited, .logo__link:visited {
  color: white;
}

.weather-item {
  color: white;
  border: 2px white solid;
  box-shadow: 8px 8px white;
  transition: all 0.2s;
}
.weather-item:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
}
.weather-item:hover .weather-item__remove-button {
  opacity: 1;
}

.logo__link:visited {
  color: white;
}

.search__bar {
  border: 2px white solid;
  background-color: #131415;
  color: white;
}
.search__bar::placeholder {
  color: white;
}

.search__icon {
  border: 2px white solid;
}