@import "variables";

body {
    transition: background-color 0.5s ease;
    color: $text-color_dark;
    background-color: $background-color_dark;
}

.header-wrapper__theme-changer, .wrapper__navItem {
    border: 1px $text-color_dark solid;
    box-shadow: 5px 5px $text-color_dark;

    &:active {
        transition: all 0.1s;
        transform: translate(5px, 5px);
        box-shadow: none;
    }
}

.navItem__link {
    &:visited {
        color: $text-color_dark;
    }
}

.weather-item {
    color: $text-color_dark;
    border: 2px $text-color_dark solid;
    box-shadow: 8px 8px $text-color_dark;
    transition: all 0.2s;

    &:hover {
        transform: translate(8px, 8px);
        box-shadow: none;
    }
}

.logo__link:visited {
    color: $text-color_dark;
}

.search__bar {
    border: 2px $text-color_dark solid;
    background-color: $background-color_dark;
    color: $text-color_dark;

    &::placeholder {
        color: $text-color_dark;
    }
}