body {
  transition: background-color 0.5s ease;
  color: white;
  background-color: black;
}

.header-wrapper__theme-changer, .wrapper__navItem {
  border: 1px white solid;
  box-shadow: 5px 5px white;
}
.header-wrapper__theme-changer:active, .wrapper__navItem:active {
  transition: all 0.1s;
  transform: translate(5px, 5px);
  box-shadow: none;
}

.navItem__link:visited {
  color: white;
}