@import "variables";

body {
    color: $text-color_light;
    background-color: $background-color_light;
}

.header-wrapper__theme-changer {
    border: 1px $text-color_light solid;
    box-shadow: 5px 5px $text-color_light;

    &:active {
        transition: all 0.1s;
        transform: translate(5px, 5px);
        box-shadow: none;
    }
}