body {
  transition: background-color 0.5s ease;
  color: black;
  background-color: white;
}

.header-wrapper__theme-changer, .wrapper__navItem {
  border: 1px black solid;
  box-shadow: 5px 5px black;
}
.header-wrapper__theme-changer:active, .wrapper__navItem:active {
  transition: all 0.1s;
  transform: translate(5px, 5px);
  box-shadow: none;
}

.navItem__link:visited {
  color: black;
}

.weather-item {
  color: black;
  border: 2px black solid;
  box-shadow: 8px 8px black;
  transition: all 0.2s;
}
.weather-item:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
}

.logo__link:visited {
  color: black;
}

.search__bar {
  border: 2px black solid;
  background-color: white;
  color: black;
}
.search__bar::placeholder {
  color: black;
}

.search__icon {
  border: 2px black solid;
}