@import "variables";

body {
    transition: background-color 0.5s ease;
    color: $text-color_light;
    background-color: $background-color_light;
}

.header-wrapper__theme-changer, .wrapper__navItem {
    border: 1px $text-color_light solid;
    box-shadow: 5px 5px $text-color_light;

    &:active {
        transition: all 0.1s;
        transform: translate(5px, 5px);
        box-shadow: none;
    }
}

.navItem__link {
    &:visited {
        color: $text-color_light;
    }
}
